@model IEnumerable<T10bank.Models.Deal>

@{
    ViewData["Title"] = "Index";
}

<h1>Transaction</h1>

<p>
    <a asp-action="MakeDeal">Make Transaction</a>
</p>

@*<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="" value="@ViewData["Getdealdetails"]" name="Dealsearch" style="width:500px;" />
        <input type="submit" value="Seach" class="btn btn-primary" />
        <a asp-action="Index">Get All Transictions</a>
    </p>

</form>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.DealId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.DealId">Details</a> |*@
                    | <a asp-action="DeleteDeal" asp-route-id="@item.DealId">Delete</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
